/* Autor: Stefan Rautner */
/*Body stylen*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/*Hintergrundfeld stylen*/
.container {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/*Nachrichten & Chatnamen stylen*/
/* Listen der Chatnachrichten & Chatnamen stylen */
#chat-messages, #chat-names {
    position: relative;
    width: 90%;
    background-color: white;
    overflow-y: auto;
}

/* Chatnachrichten stylen */
#chat-messages li {
    display: block;
    max-width: 70%;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 20px;
    word-wrap: break-word;
}

/* Chatnamen stylen */
#chat-names li {
    display: block;
    max-width: 70%;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 20px;
    word-wrap: break-word;
}

/* Hintergrundfarbe für die Chats setzen */
.unselected-chat {
    background-color: cornflowerblue;
}

/* Hintergrundfarbe für die Chats setzen */
.unselected-message {
    background-color: grey;
}

/* Hintergrund des ausgewählten Chats ändern */
.selected-chat {
    background-color: deepskyblue;
}

/* Hintergrund der ausgewählten Nachricht ändern */
.selected-message {
    background-color: #a0a0a0;
}

/* Margin der letzten Nachricht/Chatnamen löschen/auf 0 setzen */
#chat-messages li:last-child, #chat-names li:last-child {
    margin-bottom: 0;
}

/*Chatfeld stylen*/
#chat-box {
    width: 100%;
    display: flex;
}

/*Media Query, für Handys*/
@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
    #chat-names {
        height: 50vh;
    }
}

/*Chat-Auswahl stylen*/
#chat-names {
    height: 75vh;
    width: 35%;
    overflow-y: auto;
    background-color: lightgray;
}

/*Chatnachrichten stylen*/
#chat-messages {
    position: relative;
    width: 90%;
    background-color: white;
    overflow-y: auto;
}

/*Download Button stylen*/
#download-button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    color: white;
    background-color: #007bff;
    cursor: pointer;
    border: black solid 1px;
    border-radius: 5px;
}

#download-button:hover {
    background-color: #007bffb3;
}

/*Nachrichten-Hintergrund-Feld stylen*/
.input-box {
    border-top: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

/*Nachrichten-Feld stylen*/
.input-box input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/*Nachricht senden-Button stylen*/
.input-box input[type="submit"] {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Punkte bei Chatnamen-Liste & Messages-Liste entfernen*/
#namesOfChats, #messagesOfChat {
    list-style-type: none;
}

/*Buttons für Chat & Message stylen*/
.button-box {
    margin-left: auto;
    margin-top: 10px;
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
}

/*Buttons für die Button-Box stylen*/
.button-box button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

/*Hintergrund bleichen, wenn Mauszeiger darüber ist*/
.input-box input[type="submit"]:hover {
    background-color: #007bffb3;
}

/*Hintergrund bleichen, wenn Mauszeiger darüber ist*/
.button-box button:hover {
    background-color: #007bffb3;
}