/* Autor: Stefan Rautner */
/*Body stylen*/
body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: #f2f2f2;
}

/*Container stylen*/
.container {
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}

/*Inputfeld stylen*/
input[type="text"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/*Button-Box stylen*/
.button-box {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

/*Buttons stylen*/
.button-box button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Hintergrund von Button bleichen, wenn Mauszeiger darüber ist*/
.button-box button:hover {
    background-color: #007bffb3;
}

/*Return-Arrow stylen*/
.return-arrow {
    position: absolute;
    top: -18px;
    left: 10px;
    cursor: pointer;
}

/*Pfeil stylen*/
.return-arrow::before {
    content: "\2190"; /*Unicode für Pfeil nach Links*/
    font-size: 20px;
    color: #000;
}